.button {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;

  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  line-height: 1;
  cursor: pointer;
  appearance: none;

  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-property: color, background-color, border-color, box-shadow,
    outline;
}

.button {
  color: #fff;
  background-color: hsla(0 0% 45% / 1);
  border-color: transparent;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  min-height: 2rem;
}

.button:hover {
  background-color: hsla(0 0% 25% / 1);
}
.button:active {
  background-color: hsla(0 0% 12% / 1);
}
.button:focus-visible {
  outline: 1px solid hsla(211 91% 66% / 1);
  outline-offset: 1px;
  box-shadow: 0 0 0.25rem 1px hsla(216 100% 64% / 0.2);
}
.button[disabled],
.button[aria-disabled="true"] {
  background-color: hsla(0 0% 81% / 1) !important;
  cursor: not-allowed;
}

.button--xs {
  font-size: 0.75rem;
  min-height: 1.25rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.button--sm {
  font-size: 0.875rem;
  min-height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.button--lg {
  min-height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button--xl {
  min-height: 3rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.button--interaction {
  background-color: hsla(221 91% 55% / 1);
}
.button--interaction:hover {
  background-color: hsla(221 90% 50% / 1);
}
.button--interaction:active {
  background-color: hsla(221 90% 45% / 1);
}

.button--create {
  background-color: hsla(86 91% 27% / 1);
}
.button--create:hover {
  background-color: hsla(86 91% 25% / 1);
}
.button--create:active {
  background-color: hsla(86 91% 23% / 1);
}

.button--destroy {
  background-color: hsla(8 60% 47% / 1);
}
.button--destroy:hover {
  background-color: hsla(8 60% 45% / 1);
}
.button--destroy:active {
  background-color: hsla(9 61% 43% / 1);
}

.button--outline {
  color: hsla(0 0% 12% / 1);
  background-color: transparent;
  border-color: hsla(0 0% 88% / 1);
}
.button--outline:hover {
  background-color: hsla(0 0% 93% / 1);
}
.button--outline:active {
  background-color: hsla(0 0% 88% / 1);
}
.button--outline[disabled],
.button--outline[aria-disabled="true"] {
  color: hsla(0 0% 81% / 1) !important;
  background-color: hsla(0 0% 97% / 1) !important;
  border-color: hsla(0 0% 88% / 1) !important;
  cursor: not-allowed;
}

.button--interaction.button--outline {
  color: hsla(221 91% 55% / 1);
  background-color: transparent;
  border-color: hsla(221 91% 55% / 1);
}
.button--interaction.button--outline:hover {
  background-color: hsla(221 89% 93% / 1);
}
.button--interaction.button--outline:active {
  background-color: hsla(221 91% 91% / 1);
}

.button--create.button--outline {
  color: hsla(86 91% 27% / 1);
  background-color: transparent;
  border-color: hsla(86 91% 27% / 1);
}
.button--create.button--outline:hover {
  background-color: hsla(93 53% 97% / 1);
}
.button--create.button--outline:active {
  background-color: hsla(95 50% 91% / 1);
}

.button--destroy.button--outline {
  color: hsla(8 60% 47% / 1);
  background-color: transparent;
  border-color: hsla(8 60% 47% / 1);
}
.button--destroy.button--outline:hover {
  background-color: hsla(7 60% 97% / 1);
}
.button--destroy.button--outline:active {
  background-color: hsla(9 59% 93% / 1);
}

.button--ghost {
  color: hsla(0 0% 12% / 1);
  background-color: transparent;
  border-color: transparent;
}
.button--ghost:hover {
  background-color: hsla(0 0% 93% / 1);
}
.button--ghost:active {
  background-color: hsla(0 0% 88% / 1);
}
.button--ghost[disabled],
.button--ghost[aria-disabled="true"] {
  color: hsla(0 0% 81% / 1) !important;
  background-color: transparent !important;
  border-color: transparent !important;
  cursor: not-allowed;
}

.button--interaction.button--ghost {
  color: hsla(221 91% 55% / 1);
}
.button--interaction.button--ghost:hover {
  background-color: hsla(221 89% 93% / 1);
}
.button--interaction.button--ghost:active {
  background-color: hsla(221 91% 91% / 1);
}

.button--create.button--ghost {
  color: hsla(86 91% 27% / 1);
}
.button--create.button--ghost:hover {
  background-color: hsla(93 53% 97% / 1);
}
.button--create.button--ghost:active {
  background-color: hsla(95 50% 91% / 1);
}

.button--destroy.button--ghost {
  color: hsla(8 60% 47% / 1);
}
.button--destroy.button--ghost:hover {
  background-color: hsla(7 60% 97% / 1);
}
.button--destroy.button--ghost:active {
  background-color: hsla(9 59% 93% / 1);
}
