.button {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;

  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  line-height: 1;
  cursor: pointer;
  appearance: none;

  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-property: color, background-color, border-color, box-shadow, outline;
}

.button {
  color: #fff;
  background-color: hsla(0 0% 45% / 1);
  border-color: transparent;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  min-height: 2rem;
}

.button:hover {
  background-color: hsla(0 0% 25% / 1);
}
.button:active {
  background-color: hsla(0 0% 12% / 1);
}
.button:focus-visible {
  outline: 1px solid hsla(211 91% 66% / 1);
  outline-offset: 1px;
  box-shadow: 0 0 0.25rem 1px hsla(216 100% 64% / 0.2);
}
.button[disabled],
.button[aria-disabled="true"] {
  background-color: hsla(0 0% 81% / 1) !important;
  cursor: not-allowed;
}
