#root {
  --grays-light-neutral-100: hsla(0, 0%, 100%, 1);
  --grays-light-neutral-97: hsl(0 0% 97%);
  --grays-light-neutral-93: hsl(0 0% 93%);
  --grays-light-neutral-88: hsl(0 0% 88%);
  --grays-light-neutral-81: hsl(0 0% 81%);
  --grays-light-neutral-45: hsl(0 0% 45%);
  --grays-light-neutral-24: hsl(0 0% 24%);
  --grays-light-neutral-12: hsl(0 0% 12%);

  --interaction-66: hsla(221, 91%, 66%, 1);

  --primary-15: hsla(89, 92%, 15%, 1);
  --primary-21: hsla(89, 62%, 21%, 1);
  --primary-26: hsla(89, 62%, 26%, 1);
  --primary-32: hsla(89, 62%, 32%, 1);
  --primary-36: hsla(88, 53%, 36%, 1);
  --primary-55: hsla(88, 39%, 55%, 1);
  --primary-66: hsla(88, 39%, 66%, 1);
  --primary-75: hsla(88, 39%, 75%, 1);
  --primary-88: hsla(88, 31%, 88%, 1);
  --primary-91: hsla(88, 30%, 91%, 1);
}
